<?xml version="1.0"?>

<!-- This file defines our Events -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- This event is invoked before every controller is processed -->
    <event name="controller_action_predispatch">
        <observer name="oauth_observer" instance="MiniOrange\OAuth\Observer\OAuthObserver" />
    </event>
	
	<event name="controller_action_postdispatch_customer_account_logout">
        <observer name="oauth_logout_observer" instance="MiniOrange\OAuth\Observer\OAuthLogoutObserver" />
    </event>
	
</config>